{% load static %}
<html>

<head>
    <title>Create Account</title>
    <link rel="stylesheet" href="{% static 'base/styles.css' %}">
</head>

<body>
    <div class="bannerimg">
        <div class="banner">
            <div class="glass_container">
                <h1>Create an account by using the form beneath</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="fstyle">
                        {{ form }} <!-- Will be passsed as a context variable from the view -->
                        <button type="submit">Sign Up</button>
                    </div>
                </form>
                <!-- I want this to appear in a bubble later, difficulty with flex -->
                <div style="width:600px; text-align: center; margin-top: 20px;">
                    <div class="error">
                        {% if errors != None %}
                            {{ errors }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>