{% load static %}
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
    background-color: #aeaeae86;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
nav {
    position: static;
    padding: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #333;
    display : flex;
    justify-content: flex-start;
    text-decoration: none;
    border-radius: 10px;
    color: black;
    background-color: rgba(255, 255, 255, 0.338);
    backdrop-filter: blur(7px); /* Not supported in safari apparently */
}
li {
    display: block;
    padding: 5px;
}
li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
}
li a:hover {
    background-color: rgba(127, 126, 126, 0.489);
}

.bannerimg {
    width: 100%;
    height: 100vh;
    top: 0;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/static/base/Bannerimg1.png") no-repeat top center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}
.banner {
    display: flex;
    height: 100%;
    max-height: 100%;
    justify-content: center;
    align-items: center;
}
.glass_container {
    background: rgba(255, 255, 255, 0.338);
    backdrop-filter: blur(7px); /* Not supported in safari apparently */
    border-radius: 10px;
    padding: 30px;
}
.fstyle input {
    padding: 15px;
    margin: 10px;
    border: none;
}
.fstyle button {
    padding: 15px 30px;
    margin: 10px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
