{% load static %}
<html>

<head>
    <title>Your posts</title>
    <link rel="stylesheet" href="{% static 'base/styles.css' %}">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>

<body>
    <!-- Navbar -->
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {% if user.is_authenticated == False %}
                <li style="margin-left: auto;"><a href="/accounts/login/">Login</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                <li style="margin-left: auto;"><a href="/accounts/dash/">
                        Dashboard</a></li>
                {% endif %}
                <li><a href="/search/">Search</a></li>
            </ul>
        </nav>
        <div class="banner" style="height: 60%">
            <div class="glass_container">
                <h1>Your Posts</h1>
                <p>Edit, delete and view your posts here</p>
            </div>
        </div>
        </div>

            <!-- List of all the posts with an edit, delete buttons -->
            <div class="">
                {% for post in posts %}
                <div class="label">
                    <div class="">{{ post.date_pub }}</div> 
                    <div class="">{{ post.title|truncatechars:50 }}</div>
                    <div class="">
                        <a href="/posts/myposts/edit/{{ post.id}}"><span class="material-symbols-outlined" style="color: blue;">
                edit
            </span></a>
                        <a href="/posts/myposts/delete/{{ post.id }}"><span class="material-symbols-outlined" style="color: blue;">
                delete
            </span></a>
                    </div>
                </div>

                {% endfor %}
                {% if not posts %}
                <div class="manage_list_item" style=" justify-content: center;">
                    <div style="font-weight: 800; font-size:15px;">No posts yet, make your first post now!</div>
                {% endif %}
            </div>
        </div>
        {% if message == True %}
        <script>
            alert("Post deleted successfully!");
        </script>
        {% endif %}
</body>

</html>