{% load static %}
<html>

<head>
    <title>Search site
    </title>
    <link rel="stylesheet" href="{% static 'base/styles.css' %}">
</head>

<body>
    <div class="bannerimg">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                {% if user.is_authenticated == False %}
                <li style="margin-left: auto;"><a href="/accounts/login/">Login</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                <li style="margin-left: auto;"><a href="/accounts/dash/">
                        Dashboard</a></li>
                {% endif %}
                <li><a href="#">Search</a></li>
            </ul>
        </nav>
        <div class="banner">
            <div class="glass_container" style="width: 50%;">
                <div class="search_field">
                    <h1>Search site</h1> <br>
                    <form action="/search/" method="post">
                        {% csrf_token %}
                        <input type="text" name="query" placeholder="Search for posts, people and more..."
                            class="searchfield"> <br><br>
                        <input type="submit" value="Search" style="width: 20%">
                    </form>
                </div>
            </div>
                    </div>
            {% for post in posts %}
            <div class="label">


                <span>
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.body|truncatechars:100 }}</p>
                </span>
                <a href="/posts/{{ post.id }}/" class="simple_btn">Read more</a>

            </div>

            {% endfor %}
            {% if not posts %}
            <div class="label" style=" justify-content: center; margin: 16px;">
                <div style="font-weight: 800; font-size:15px;">Nothing was found...   Search again!</div>
                {% endif %}

            </div>

    </div>
    </div>
    <br><br><br>
</body>

</html>